.valor {
color:white;
font-size: 14px;

    
}

 .titulo-alunos{
    color:white;
 }

.totalMes{
   color: white;
   font-size: 20px;
   font-weight: bold;
}

.status-pendente {
   color: rgb(249, 89, 89) !important;
   font-weight: bold;
}

.status-default {
   color: black;
   font-weight: normal;
}
#inserirPG{
   background-color: white;
   font-weight: bold;
}
.container-white {
   background-color: white;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.pagamento{
   font-weight: bold;
}

.sub-total{
   font-size: 20px;
   color: white;
}