#valor h3{
color:white;
    
}
 .titulo-alunos{
    color:white;
 }



.status-pendente {
   color: rgb(249, 89, 89) !important;
   font-weight: bold;
}

.status-default {
   color: black;
   font-weight: normal;
}
#inserirPG{
   background-color: white;
}
.container-white {
   background-color: white;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
