.dados-fin {
  background-color: aqua;
  width: 250px;
  height: 60px;
  border-radius: 10px;
  margin-right: 10px;
  align-content: center;
}
.dados-fin span {
  display: block;
text-align: center;
  align-content: center;
  font-weight: bold;
}
.titulo-graf-fin{
  color: white;
  text-align: center;
}