.titulo-curso {
  color: white;
}

.section-trilho {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}
.sobre-trilha {
  font-size: 20px;
}
.section-curso li {
  background-color: var(--color-turquoise);
  cursor: pointer;
  padding: 10px; /* Aumenta a área clicável */
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.section-curso ul {
  display: flex;
  gap: 20px;
  color: white;
}
.section-curso h3 {
  color: white;
}
.checkbox-label {
  width: 100%; /* Faz o label ocupar toda a área do li */
  display: flex;
  align-items: center;
  cursor: pointer;
}
.inscrever {
  width: 160px;
  height: 40px;
  background-color: var(--color-coral);
  color: white;
  border-radius: 10px;
}
.voltar {
  width: 160px;
  height: 40px;
}
.curso-trilha {
  color: var(--color-coral);
  font-size: 38px;
}
.botoes {
  justify-content: center; /* Centraliza os botões horizontalmente */
  align-items: center;
  gap: 20px;
  display: flex;
}
