.alunos-container {
    margin-top: 20px;
    max-width: 60%;
    width: auto;
    margin-left: 20%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    gap: 16px;
    background-color: white;
    font-size: 14px;
  }
  .input-group-alunos {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr) ; 
    align-items: center;
  }
  .a-nome {
    margin-bottom:4px;
    padding-left: 10px;
    font-weight: bold;
  
  }
   
  .alunos-input {
    padding: 6px;
    box-sizing: border-box;
    width: 100%; 
    margin-top: 2px;
    
  }
 

  .titulo-form h3{
    background-color: rgb(205, 205, 205);
    padding: 10px;
  }
  
  .btn-alunos {
   
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ed7947;
    color: #fff;
    cursor: pointer;
    width: 20%;
    margin-left: 40%;
  margin-top: 20px;
  font-size: 18px;
    
  }
  
  .btn-alunos:hover,
  .btn-alunos:focus {
    background-color: #8e492c;
  }
  

 
  .form-select{
  
    box-sizing: border-box;
    margin-top: 2px;
    width: 40%;
  }
  .form-select-pg{
    width: 60%;
  }
  .titulo-form{
    text-align: center;
  }

  .btn-aluno-voltar {
   
    padding:10px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    width: 8%;
    margin-left: 47%;
    margin-top: 40px;
    margin-bottom: 20px;
    
    }
    .btn-aluno-voltar:hover,
    .btn-aluno-voltar:focus {
      background-color: #004080;
    }
    
@media (max-width: 768px) {


  .alunos-container {
    max-width: 90%; 
    width: auto;
 
    padding: 10px;
    font-size: 16px; 
  }

  /* Título */
  .titulo-form h3 {
    font-size: 18px;
  }

 
  .input-group-alunos {
    display: block;
    margin-top: 20px;
  }


  .a-nome {
    font-weight: bold;
  }


  .alunos-input,
  .form-select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 5px;
    font-size: 16px; 
  }


  .btn-alunos {
    width: 30%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px; 
  }


  .btn-aluno-voltar {
    width: 30%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ed7947;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    font-size: 18px; 
  }
}
