/* Estilos para a página de detalhes do relatório */
.relatorio-detalhes {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .relatorio-detalhes-div {
    margin-bottom: 20px;
    margin-left: 8px;
  }
  
  .cabeçalho-detalhes {
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
  }
  
  .data-relatorio {
    font-style: italic;
    color:#ed7947; ;
  }
  
  .pergunta {
    font-weight: bold;
    background-color: cadetblue;
    padding: 8px;
  }
  
  .resposta {
    margin-top: 5px;
    margin-bottom: 40px;
   
  }
  
  .setas {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btn-left,
  .btn-right {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  .btn-left:hover,
  .btn-right:hover {
    background-color: #0056b3;
  }
  .img-print-relatorio-detalhe {
    margin-left: 80%;
    text-align: center;
    color: black;
    }
    
    .img-print-relatorio-detalhe p{
     
        color: black;
    }

    .logo-relatorio{
        height: 150px;
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; 
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .logo-relatorio img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
.voltar-relatorio {
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 15%;
  position: absolute;
  font-size: 18px;
}
.voltar-relatorio a{
  color: white;
}