
.filtro-data {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.filtro-data h3{
  text-align: center;
 color: #0b1f34;
}


.filtro-data label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  margin-left: 8px;
  margin-right: 15px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-container label {
  margin-right: 2px;
  font-size: 15px;
}
.input-container label[type="date"]{
  margin-right: 10px;
}
.input-container input[type="radio"] {
  margin-right: 3%;
}

.filtro-data input[type="date"] {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 20%;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.filtro-data button {
  padding: 8px 70px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-left: 3%;
  margin-bottom: 20px;
 
}

.filtro-data button:hover {
  background-color: #0056b3;
}

.page-container-lista {
  width: 60%;
  margin-left: 24%;
  margin-bottom: 10px;
  padding-top: 20px;
}

.filters-container-lista.records-actions {
  justify-content: flex-end;
}

.lista-table {
  width: 100%;
  border-bottom: 10px solid var(--color-turquoise);
  border-radius: 0 0 10px 10px;
  margin-bottom: 100px;
}
.lista-table thead {
  background-color: var(--color-turquoise);
  text-align: left;
  color: #0E1B28;
  border-radius: 10px;
}

.lista-table thead tr {
  height: 50px;
  text-align: center;
}
.lista-table thead th:first-child {
  padding-left: 50px;
  border-top-left-radius: 10px;
}

.lista-table thead th:last-child {
  border-top-right-radius: 10px;
}

.lista-table tbody td:first-child {
  padding-left: 50px;
}

.lista-table tbody tr {
  height: 45px;
  color: #FFF;
  font-size: 16px;
  text-align: center;
}
.lista-table tbody tr:nth-child(odd) {
  background-color: var(--color-darkslategray);
}

.lista-table tbody tr:nth-child(even) {
  background-color: var(--color-dimgray);
}


-------------------


.form-lista {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color:white;
 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}

.lista-titulo {
  margin-bottom: 10px;
  color: #0b1f34;
  font-size: 20px;

  text-align: center;
}

.lista-input {
  display: flex;
  flex-direction: column;
  background-color: white;;
  margin-bottom: 10px;
  border-radius: 10px;
 
}

.input-input-grupo {
  margin-bottom: 10px;
  background-color: white;
 
}

.div-input-grupo {
  display: flex;
  align-items: center;
  padding: 10px;
}

.l-nome {
  margin-right: 10px;
  color: black; 
  margin-left: 10px;
  font-weight: bold;
}

.form-input,
.form-select-pg,
.form-select {
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 50%;
}

.btn-lista {
  padding: 8px 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-left:67%;
}

.btn-lista:hover {
  background-color: #0056b3;
}
.img-print-lista{
margin-left: 80%;
font-size: 20px;
text-align: center;

color: white;
}

.img-print-lista p{
  color: white;
 
}

















































