
.filtro-data {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #04c7ef;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.filtro-data h1 {
  margin-bottom: 10px;
}

.filtro-data label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-container label {
  margin-right: 10px;
}

.input-container input[type="radio"] {
  margin-right: 3%;
}

.filtro-data input[type="date"] {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 40%;
  
  margin-right: 20px;
}

.filtro-data button {
  padding: 8px 70px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-left: 20px;
 
}

.filtro-data button:hover {
  background-color: #0056b3;
}

.page-container-lista {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-top: 20px;
}

.filters-container-lista.records-actions {
  justify-content: flex-end;
}

.records-table {
  width: 100%;
  border-bottom: 10px solid var(--color-turquoise);
  border-radius: 0 0 10px 10px;
}

.records-table thead {
  background-color: var(--color-turquoise);
  text-align: left;
  color: #0E1B28;
  border-radius: 10px;
}

.records-table thead tr {
  height: 50px;
}

.records-table thead th:first-child {
  padding-left: 50px;
  border-top-left-radius: 10px;
}

.records-table thead th:last-child {
  border-top-right-radius: 10px;
}

.records-table tbody td:first-child {
  padding-left: 50px;
}

.records-table tbody tr {
  height: 45px;
  color: #FFF;
  font-size: 14px;
}

.records-table tbody tr:nth-child(odd) {
  background-color: var(--color-darkslategray);
}

.records-table tbody tr:nth-child(even) {
  background-color: var(--color-dimgray);
}
