
  
  .body-container {
    font-family: Arial, sans-serif;
    padding: 0; /* Remova o preenchimento para garantir que não haja espaço extra */
    display: flex;
    height: 350px;
    justify-content: center;
    margin-top: 80px;
    margin-right: 100px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    
}

.form-container label {
    display: block;
    margin-bottom: 8px;
}

.form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.btn-entrar {
    background-color: #0b1f34;
    color: #fff;
    padding: 10px;
    border: none;
    margin-left: 30px;
    border-radius: 3px;
    cursor: pointer;
    width: 80%;
    margin-top: 30px;
}

.btn-entrar:hover {
    background-color: #ed7947;
}

.copy{
    margin: 100px;
    margin-bottom: 20px; 
    color: white;
    margin-left: 400px;
    padding-bottom: 50px;
}
.password-input-container {
    display: flex;
    align-items: center;
}

.password-input-container input {
    flex: 1;
    width:90% ;
    padding-right: 40px; 
}
.password{
    width: 80%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
.password-input-container .toggle-password {
    margin-left: -23px; 
    background: none;
    border: none;
    cursor: pointer;
}
.error-message {
    color: red;
    font-size: 12px;
}
.invalid-error-message {
    color: red;
    font-size: 12px; 
    font-weight: bold;  
    margin: 0;
    padding: 0;
}
@media (max-width: 768px) {
    .body-container {
      margin-top: 25%;
        flex-direction: column;
        align-items: center;
        margin-left: 10%;
    }

    .form-container {
        width: 70%;
        
    }

    .copy {
        margin-left: 10%;
        text-align: center;
        margin-top: 30%;
      
    }

    .password-input-container {
        position: relative;
    }

    .password-input-container .toggle-password {
        position: absolute;
        right: 10px;
    }

    .body-container img {
        width: 50%; /* Ajuste o valor conforme necessário */
        margin-bottom: 20px;
        margin-top: 40px;
    }
}