
  
  .body-container {
    font-family: Arial, sans-serif;
    padding: 0; /* Remova o preenchimento para garantir que não haja espaço extra */
    display: flex;
    height: 350px;
    justify-content: center;
    margin-top: 80px;
    margin-right: 100px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    
}

.form-container label {
    display: block;
    margin-bottom: 8px;
}

.form-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.btn-entrar {
    background-color: #0b1f34;
    color: #fff;
    padding: 10px;
    border: none;
    margin-left: 30px;
    border-radius: 3px;
    cursor: pointer;
    width: 80%;
    margin-top: 30px;
}

.btn-entrar:hover {
    background-color: #ed7947;
}

.copy{
    margin: 100px;
    margin-bottom: 20px; 
    color: white;
    margin-left: 400px;
    padding-bottom: 50px;
}
