.fm-container {
  margin-top: 20px;
  max-width: 60%;
  width: auto;
  margin-left: 20%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: grid;
  gap: 16px;
  background-color: white;
  font-size: 14px;
}

.input-group {
  display: grid;
  gap: 16px;
}

.f-nome {
  margin-bottom:4px;
  padding-left: 10px;
  font-weight: bold;

}

.form-input {
  padding: 6px;
  box-sizing: border-box;
  width: 100%; 
  margin-top: 2px;
  
}

.btn-add {
  padding: 8px 60px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  width: 40%;
  margin-left: 30%;
margin-top: 20px;
}

.btn-add:hover,
.btn-add:focus {
  background-color: #004080;
}

.add-voltar {
  margin-top: 40px;
  background-color: #0056b3;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  transition: background-color 0.3s ease-in-out;
}
.titulo-alunos {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.titulo-form h3{

  text-align: center;


  background-color: rgb(205, 205, 205);
    padding: 10px;
}

.input-group-div {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr) ;  /* Duas colunas igualmente distribuídas */
  align-items: center;
}
.form-select{

  box-sizing: border-box;
  margin-top: 2px;
  width: 40%;
}
.form-select-pg{
  width: 60%;
}
.titulo-form{
  text-align: center;
}