@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

:root {
  --color-turquoise: #00d4ff;
  --color-coral: #ed7947;
  --color-dimgray: #4c5d67;
  --color-darkslategray: #37474f;
  --color-black: #0b1f34;
  --color-form: #0b869b;
  --color-white: #ffffff;
  --color-red:#ff0000;
  --color-money:#00ff3c;
  --color-yellow:#afa400;
}

body,
html {
  padding: 0;
  margin: 0;
}
.button-primary {
  background-color: var(--color-coral);
  width: 150px;
  height: 40px;
  border-radius: 10px;
  color: white;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;

}
.button-primary:hover {
  background-color: #cc693e;
}

.button-primary-large {
  border-radius: 10px;
  height: 40px;
  align-content: center;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 190px;
  background-color: var(--color-coral);
}
.button-primary-large:hover{
  background-color: #cc693e;
}

.button-deletar {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  color: white;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  background-color: var(--color-red);
}

.button-deletar:hover {
  background-color:#b90303;
  ;
}
* {
  font-family: "Play", sans-serif;
}

html {
  background-color: var(--color-black);
}

a {
  text-decoration: none;
}


button{
  border: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}
