.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

/* Estrutura do modal */
.custom-modal-ordem {
  background: #fff;
  width: 800px;
  max-width: 90%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

/* Cabeçalho do modal */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

/* Botão de fechar */
.close-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
}

/* Corpo do modal */
.modal-body {
  margin-top: 15px;
}

/* Rodapé do modal */
.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  margin-top: 10px;
}

/* Botões do modal */
.modal-footer .btn {
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-secondary {
  background: #ccc;
}

.btn-success {
  background: #28a745;
  color: white;
}
#add-serviço{

 margin-left: 35vw;
 position: absolute;

}
.titulo-ordem{
  color: white;
}

.descricao-serviço {
  font-size: 20px;
  font-weight: bolder;
  color: var(--color-black);
  margin-left: 20px;
  color:white;
 font-weight: bold;
}

.salva-ordem{
  position: absolute;
  color:white;
  font-weight: bold;
  margin-left: 35vw;
  width: 190px;
  background-color: blue;
  border-radius: 10px;
  height: 40px;
  align-content: center;
}
.remove-serviço {
  background-color: red;
  margin-left: 40px;
  color: white;
  border-radius: 10px;
  padding: 1px 8px;
  font-size: 12px;
  position: absolute;
}
.input-material{
  width: 350px;
  height: 35px;
  border-radius: 5px;
}
.serivço-lista {

  
}