/* Adapte os estilos conforme necessário para o seu layout específico */

.membro-container {
  margin-top: 40px;
    display: flex;
    justify-content: space-between; 
  }
  
  
  
  .conteudo-centralizado {
    text-align: center; /* Centraliza o texto */
  }
  
  .foto-membro {
    width: 100px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 100px; /* Ajuste o tamanho da imagem conforme necessário */
    border-radius: 50%; /* Para criar uma imagem circular, ajuste conforme necessário */
    margin: 0 auto; /* Adiciona margem automática para centralizar a imagem */
    display: block;
  }
  
  .nome-id {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #0b1f34;
    padding-top: 10px;
    text-decoration: underline;
  }
  
  .dados {
    margin-top: 10px;
   color: #0b1f34;
  }
  .botoes-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .botao-editar,
  .botao-deletar {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #4CAF50; /* Cor de fundo verde, ajuste conforme necessário */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .botao-deletar {
    background-color: #f44336; /* Cor de fundo vermelha, ajuste conforme necessário */
  }
  .btn-aluno-detalhe-voltar {
    margin-top: 350px; /* Adiciona margem no topo do botão */
    background-color: #0056b3;
    color: white;
    border: none;
   
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 35%;
    width: 10%; 
  }
 


  .pg{
    font-weight: bold;
  }
  .setas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 15%;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    
   
  }

  .btn-left,
  .btn-right {
    font-size: 50px;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
  }
  .pg-id1 {
    color: blue;
  }
  
  .pg-id2 {
    color: green;
  }
  .pg-id3 {
    color:yellow;
  }
  .pg-id4 {
    color: indigo;
  }

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
    z-index: 1000;
  }
  
  .icone-confirma {
    font-size: 40px;
    color: green;
    margin-bottom: 10px;
  }
  
  .msg {
   color: black;
    margin-bottom: 15px;
  
    margin-top: 5px;
  }
  
  .btn-confirma {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    
  }
  
  .btn-confirma:hover {
    background-color: #0056b3;
  }
  
  .detalhe-container-endereço {
    background-color: white;
    margin-left: 15%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    position: absolute;
    flex: 1;
    padding: 10px;
    
  }
  .detalhe-container {
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-left: 700px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    position: absolute;
  }
    
  
  .conteudo-centralizado-endereço {
    text-align: center; /* Centraliza o texto */
  }

  .membro-container-endereço {
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    position: relative; 
  }
    .text-h2{
      font-weight: bold;
     text-decoration: underline;
    }