.modal-confirm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-align: center;
  z-index: 1000;
}

.icone-confirm {
  font-size: 40px;
  color: rgb(255, 64, 5);
  margin-bottom: 10px;
}

.msg {
 color: black;
  margin-bottom: 15px;

  margin-top: 5px;
}

.btn-confirma {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  
}

.btn-confirma:hover {
  background-color: #0056b3;
}

