.main-header {
  height: 30px;
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Para adicionar espaço entre os elementos */
  align-items: center; /* Para alinhar verticalmente no centro */
  background-color: var(--color-darkslategray);
  z-index: 1000;
  position: relative;
  width: 100%;/* Remova o preenchimento para garantir que não haja espaço extra */
  margin: 0;
}

.logo-text {
  font-weight: bold;
  font-size: 24px;
  color: white;

  margin-left: 20px;
}

.logo-text-1 {
  color: var(--color-coral);
}

.logo-text-2 {
  color: #FFF;
}

.login-container {
  display: flex;
  align-items: center;

}

.login-container h2 {
  color: white;
  margin-left: 10px; 
  margin-right: 60px;
}

.login-container span {
  color: white;
  font-size: 25px;
}
