@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

#cabeçalho{
  background-color: var( --color-darkslategray);
  height: 90px;
  
}


#usuario{
text-align: end;
cursor: pointer;
  color: white;
 
}
#logo{
  width: 250px;
  margin-left: 2%;
}
#sair-header{
  color: white;
  text-align: start;
  font-size: 20px;
  cursor: pointer;
}