.main-header {
  height: 30px;
  padding: 20px;
  display: flex;
  justify-content: space-between; /* Para adicionar espaço entre os elementos */
  align-items: center; /* Para alinhar verticalmente no centro */
  background-color: var(--color-darkslategray);
  z-index: 1000;
  position: relative;
  width: 100%;/* Remova o preenchimento para garantir que não haja espaço extra */
  margin: 0;
}

.logo-img {
  display: flex;

 
  margin-top: 20px;
 
}

.logo-img img{
  width: 400px;
  margin-right: 98%;
  object-fit: contain;
 
}
.logo-img a{
  width: 5%;
  height: 5%;
  object-fit: contain;
  
}

.login-container {
  display: flex;
  align-items: center;

}

.login-container h2 {
  color: white;
  margin-left: 10px; 
  margin-right: 60px;
}

.login-container span {
  color: white;
  font-size: 25px;
}
