.ganho-bg {

  color: var(--color-money)!important; 
  font-weight: bold;
}
.total-transacao strong{
  color: var(--color-money);
}
.btn-pesquisa-ganho{
  background-color: var(--color-coral);
  color:var(--color-white);
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-weight: bolder;
  margin-left: 10px;
}
.despesa-bg {

  color: var(--color-red)!important;
  font-weight: bold;
}
