.insert-conta{
  margin-right: 10px;
}
.btn-pagar{
  margin-left: 20px;
  }

.label-conta{
  color:white;
}
.titulo-conta{
  color:white;
}
.total-pago{
  color:white;
}
.btn-pesquisa-pagar{
  margin-right: 10px;
}
.titulo-pesquisa-paga{
  color:white;
}
