.insert-conta{
  margin-right: 10px;
}
.btn-pagar{
  margin-left: 20px;
  }

.label-conta{
  color:white;
}
.titulo-conta{
  color:white;
}
.total-pago{
  color:white;
}
.btn-pesquisa-conta{
  margin-right: 10px;
}
.titulo-pesquisa-paga{
  color:white;
}
.mes-contaPagar{
  color:white;
  position: absolute;
  font-size: 20px;
right: 20vw;
margin-top: -60px;
}
.btn-left-conta{
  background: none;
  color: white;
}
.btn-right-conta{
  background: none;
  color: white;
}
.btn-pesquisa-pagar{
  background-color: var(--color-coral);
  color:white;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-weight: bolder;
}